{{template "head"}}
<link type="text/css" href="/web/css/main.css" rel="stylesheet" media="screen" />
<style>
	body{
		background: url("/web/images/shine/cover.jpg") no-repeat;
	}
	#shine{
		top: 15%;
		position: absolute;
	}
</style>		
</head>
<body>

		{{template "title"}}

<div id="shine">
		<div id="shineflip">
				<div id="shineflip-pages">
					<canvas id="shineflip-canvas"></canvas>
					<canvas id="shineflip-page-mid-canvas"></canvas>
					<section class="page" style="background:url(/web/images/shine/right_pk.jpg)">
						<div><img src="/web/images/shine/0.jpg" width="475" height="482" /></div>
						<span style="left:18px;"><img src="/web/images/shine/zh.png" height="482" /></span> 
					</section>
					<section class="page" style="background:url(/web/images/shine/left_pk.jpg)">
						<div><img src="/web/images/shine/1.jpg" width="466" height="463" style="float:right;margin-top:9px;" /></div>
					</section>
					<section class="page" style="background:url(/web/images/shine/right_pk.jpg)">
						<div><img src="/web/images/shine/2.jpg" width="466" height="463" style="float:left;margin-top:9px;" /></div>
					</section>
					<section class="page" style="background:url(/web/images/shine/right_pk.jpg)">
						<div><img src="/web/images/shine/3.jpg" width="466" height="463" style="float:right;margin-top:9px;" /></div>
					</section>
					<section class="page" style="background:url(/web/images/shine/right_pk.jpg)">
						<div><img src="/web/images/shine/4.jpg" width="466" height="463" style="float:left;margin-top:9px;" /></div>
					</section>
					<section class="page" style="background:url(/web/images/shine/right_pk.jpg)">
						<div><img src="/web/images/shine/5.jpg" width="466" height="463" style="float:right;margin-top:9px;" /></div>
					</section>
					<section class="page" style="background:url(/web/images/shine/right_pk.jpg)">
						<div><img src="/web/images/shine/6.jpg" width="466" height="463" style="float:left;margin-top:9px;" /></div>
					</section>
					<section class="page" style="background:url(/web/images/shine/right_pk.jpg)">
						<div><img src="/web/images/shine/6.jpg" width="466" height="463" style="float:left;margin-top:9px;" /></div>
					</section>
					<section class="page" style="background:url(/web/images/shine/right_pk.jpg)">
						<div><img src="/web/images/shine/6.jpg" width="466" height="463" style="float:left;margin-top:9px;" /></div>
					</section>
					<section class="page" style="background:url(/web/images/shine/right_pk.jpg)">
						<div><img src="/web/images/shine/6.jpg" width="466" height="463" style="float:left;margin-top:9px;" /></div>
					</section>
					<section class="page">
						<div><img src="/web/images/shine/24.jpg" width="475" height="482" /></div>
						<span style="right:18px;"><img src="/web/images/shine/zh.png" height="482" /></span> 
					</section>
				</div>
			</div>
</div>

<script type="text/javascript" src="/web/js/shineflip_min.js"></script>
<script type="text/javascript">
var shineFlip = new ShineFlip({
	// autoFitScreen: true,
	width: 950,
	height: 482,
	page_width: 475,
	page_height: 482
});
</script>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div style="text-align:center;clear:both;">
</div>
{{template "end"}}