{{define "title"}}
<nav>
  <ul class="main">
    <li>
      <a href="/">主页</a>
<!--      <ul class="drop menu1">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul> -->
    </li>
    <li><a href="/service/">个人考勤</a>
<!--      <ul class="drop menu2">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul> -->
    </li>
    <li><a href="/copper/">铜价数据</a>
<!--       <ul class="drop menu3">
        <li><a href="/copper/1/">Home</a></li>
        <li><a href="/copper/2/">news</a></li>
        <li><a href="/copper/3/">contact</a></li>
        <li><a href="/copper/4/">about</a></li>
      </ul> -->
    </li>
    <li><a href="/geren/">私密</a>
 <!--      <ul class="drop menu4">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul> -->
    </li>
    <li><a href="/ge/">team</a>
<!--       <ul class="drop menu5">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul> -->
    </li>
    <li><a href="#">about</a>
<!--       <ul class="drop menu6">
        <li><a href="#">Home</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">contact</a></li>
        <li><a href="#">about</a></li>
      </ul> -->
    </li>
  </ul>
</nav>
    {{end}}